:root
{
    --hightlight: #ff474d;
    --backcol : #2a2a2e;
    --darkbackcol : #151517;
}

@font-face{
    font-family: "FontFamilyChoosed";
    src: url(../assets/font.otf) format("opentype");
}

[onclick]{
  cursor: pointer;
}

a{
  color: var(--hightlight);
  cursor: pointer;
  text-decoration: none;
}
a.folder{
  color: white;
}

body{
  background-color: var(--darkbackcol);
  color: white;
  font-family: "FontFamilyChoosed", serif;
  font-size: 2em;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header{
  background-color: white;
  color: black;
  padding: 8px;
}
header div{
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
header div img{
  vertical-align: middle;
}

input{
  font-family: "FontFamilyChoosed", serif;
  font-size: 0.7em;
}

footer{
  padding: 8px;
}

textarea{
  font-size: 0.7em;
}

#double-check{
  background-color: rgba(0, 0, 0, 0.95);
  height: 100%;
  padding-top: 15vh;
  position: fixed;
  width: 100%;
}

#double-check-value{
  color: var(--hightlight);
}

#edit-mode{
  bottom: 0;
  right: 0;
  position: fixed;
  width: 20%;
}
#edit-mode:hover{
  background-color: rgba(0,0,0,0.5);
}

#feedback{
  background-color: rgba(0,0,0,0.75);
  color: white;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: opacity 1s;
}

#informations{
  text-align: left;
}

#main{
  background-color: var(--backcol);
  padding: 1%;
}

#popup{
  z-index: 1;
}

.cadre-photo{
  background-color: var(--darkbackcol);
  display: inline-block;
  width: 45%;
  margin: 1%;
  padding: 0px;
  height: 609px;
}

.cadre-photo img{
  display: inline-block;
  height: 100%;
}

.description{
  display: inline-block;
  font-family: serif;
  font-size: 0.4em;
  height: 100%;
  width: 20%;
  padding-top: 24px;
  vertical-align: top;
  overflow: auto;
}

.edit-buttons{
  background-color: rgba(0, 0, 0, 0.9);
  padding: 4px;
  position: absolute;
  text-align: left;
}

.folder{
  background-image: url(../assets/folder.png);
  background-size: cover;
  display: table-cell;
  vertical-align: bottom;
  padding: 8px;
  height: 135px;
  width: 160px;
}
.folder:hover{
  filter: grayscale(100%);
}

.hightlight{
  color: var(--hightlight);
}

.input-submit{
  background: none;
  border: 0;
  color: var(--hightlight);
  cursor: pointer;
  font-size: 1em;
}

.separation{
  background-color: var(--hightlight);
  margin-top: 64px;
  padding: 24px;
  text-align: left;
}

.separation-years{
  background-color: white;
  color: var(--hightlight);
  margin-top: 96px;
  padding: 32px;
}

.yes-or-no{
  display: inline-block;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .cadre-photo{
    height: 298px;
  }
  .description{
    font-size: 0.3em;
  }
}

@media only screen and (max-width: 500px) {
  .cadre-photo{
    height: 360px;
    width: 98%;
  }
}

@media only screen and (min--moz-device-pixel-ratio: 1.5) {/*smartphone*/
  body{
    font-size: 4em;
  }
  .cadre-photo{
    height: auto;
    width: 98%;
  }
  .cadre-photo img{
    height: auto;
  }
  .folder{
    font-size: 0.7em;
  }
}
